/* table */
.table_container {
  /* background-color: var(--white); */
  width: 100%;
  /* border: 2px solid var(--gray-1); */
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table_container tr th {
  padding: 16px 16px 16px 0;
}

.table_container tr td {
  padding: 5px 16px 5px 0;
}

.table_container tr th:first-child,
.table_container tr td:first-child {
  padding-left: 16px;
}

.table_container tr th:last-child,
.table_container tr td:last-child {
  padding-right: 16px;
}

.empty_message {
  color: var(--gray-1);
  font-size: 2rem;
  font-weight: 800;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty_message p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-2);
}
